.wsb-center {
  width: 590px;
  height: 150px;
  border: 1px solid #d1d1d1;
  margin-inline-start: 50px;
  overflow-y: scroll;
}
.wsb-center-row {
  padding: 4px 0;
  vertical-align: top;
  border-bottom: 1px dashed #e8e8e8;
  font-size: 14px;
  height: 16px;
}
.list-del {
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  background: #bdbdbd;
  cursor: pointer;
}
.list-orange {
  color: #ff8a00;
  margin: 0 10px;
}
.list-blue {
  color: #6857ca;
  margin: 0 20px;
}
.list-end {
  color: #a5a5a5;
  margin: 0 40px;
  font-size: 12px;
}
.wsb-center-contain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wsb-div-right {
  margin: 0 10px;
}
.wsb-div-right-btn {
  width: 98px;
  height: 30px;
  line-height: 30px;
  color: #0c65c3;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.wsb-div-right-btn:hover {
  background-color: #fffcdf;
  cursor: pointer;
}
.color-one {
  color: #a5a5a5;
}
